
.main-content {
    width: 50%;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    margin: 80px auto;
    display: flex;
    flex-wrap: wrap;
}

.company__info {
    background-color: #008080;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    flex: 1;
}

.fa-android {
    font-size: 48px;
}

.login_form {
    background-color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    flex: 2;
}

form {
    padding: 0 32px;
}

.form__input {
    width: 100%;
    border: 0px solid transparent;
    border-radius: 0;
    border-bottom: 1px solid #aaa;
    padding: 16px 8px 8px 32px;
    outline: none;
    margin: 24px auto;
    transition: all 0.5s ease;
}

.form__input:focus {
    border-bottom-color: #008080;
    box-shadow: 0 0 5px rgba(0, 80, 80, 0.4);
    border-radius: 4px;
}

.btn {
    transition: all 0.5s ease;
    width: 70%;
    border-radius: 30px;
    color: #008080;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #008080;
    margin-top: 24px;
    margin-bottom: 16px;
}

.btn:hover, .btn:focus {
    background-color: #008080;
    color: #fff;
}

@media screen and (max-width: 640px) {
    .main-content {
        width: 90%;
        flex-direction: column;
    }

    .company__info {
        display: none;
    }

    .login_form {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
}

@media screen and (min-width: 641px) and (max-width: 800px) {
    .main-content {
        width: 70%;
    }
}

@media screen and (min-width: 1200px) {
    .main-content {
        width: 40%;
    }

    .company__info {
        flex: 1.5;
    }

    .login_form {
        flex: 2.5;
    }

    .form__input {
        font-size: 19.2px;
    }

    .btn {
        font-size: 17.6px;
    }
}
